{{ define "main" }}
<div id="site-main-content-wrapper">
  <main>
    <section class="cover">
  
      <h1>Clever Cloud Documentation</h1> 
      
      <h2>{{ .Site.Params.description }}</h2>
      
<!-- Insert buttons here and change parameters in toml-->

      {{ with .Site.Params.githubRepos }}
        {{ partial "github-repos-grid" . }}
      {{ else }}
        {{ with .Site.Params.githubRepo }}
          
        {{ end }}
      {{ end }}
      
    </section>
  </main>
</div>
{{ partial "animated-bar.html" . }}

{{ end }}
