
#icon-cover {
    padding: 40px 20px;
    width: 100vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: blueviolet;
    position: relative;
    
  }