<div class="container is-widescreen"></div>
    <div class="marquee">
        <ul class="marquee__content">
          
          <li><i class="fa-brands fa-docker fa-2xl"></i></li>
          <i class="fa-brands fa-node-js fa-2xl"></i>
          <i class="fa-brands fa-rust fa-2xl"></i>
          <i class="fa-brands fa-php fa-2xl"></i>
          <i class="fa-brands fa-golang fa-2xl"></i>
          <i class="fa-solid fa-database fa-2xl"></i>
          <i class="fa-brands fa-java fa-2xl"></i>
          <i class="fa-solid fa-feather fa-2xl"></i>
          <i class="fa-solid fa-droplet fa-2xl"></i>
          <i class="fa-brands fa-python fa-2xl"></i>
          <i class="fa-regular fa-gem fa-2xl"></i>
          <i class="fa-solid fa-meteor fa-2xl"></i>
          
        </ul>
      

      <ul class="marquee__content" aria-hidden="true">
        
        <li><i class="fa-brands fa-docker fa-2xl"></i></li>
        <i class="fa-brands fa-node-js fa-2xl"></i>
        <i class="fa-brands fa-rust fa-2xl"></i>
        <i class="fa-brands fa-php fa-2xl"></i>
        <i class="fa-brands fa-golang  fa-2xl"></i>
        <i class="fa-solid fa-database fa-2xl"></i>
        <i class="fa-brands fa-java fa-2xl"></i>
        <i class="fa-solid fa-feather fa-2xl"></i>
        <i class="fa-solid fa-droplet fa-2xl"></i>
        <i class="fa-brands fa-python fa-2xl"></i>
        <i class="fa-regular fa-gem fa-2xl"></i>
        <i class="fa-solid fa-meteor fa-2xl"></i>

      </ul>
    
</div>
</div>
